$gradient: linear-gradient(45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871);

$text-gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-size: 300%;
    background-image: $gradient;
    background-size: 600%;
    background-position: left;
    overflow: hidden;
    animation: background-animation 15s infinite alternate;


    @keyframes background-animation {
        0% {
            background-position: left;
        }

        100% {
            background-position: right;
        }
    }

    .inner-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 60vh;
        background: #ffffff;
        position: relative;
        box-shadow: 0 0 3em rgba(0, 0, 0, .15);

        & h1 {
            position: absolute;
            top: 5%;
            font-weight: 900;
            font-size: 3rem;
            text-transform: uppercase;
            background-image: $text-gradient;
            -webkit-background-clip: text;
            color: transparent;
            background-size: 300%;
            background-position: right;
            transition: background-position 1s;

            &:hover {
                background-position: left;
            }
        }

        & form {
            width: 90%;

            & label {
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                opacity: 0.6;
                position: relative;
                left: 80px;

            }

            & .input-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            & input {
                width: 70%;
                padding: 15px 30px;
                border: 1px solid rgba($color: #000000, $alpha: 0.2);
                border-radius: 10px;

            }

            & button {
                display: inline-block;
                padding: 12px 0;
                width: 10%;
                border: none;
                border-radius: 10px;
                background: none;
                font-size: 1.2rem;
                position: relative;
                // top: 3px;
                color: #ffffff;
                left: 5px;
                cursor: pointer;


                background: $gradient;
                background-size: 300px;
                background-position: left;
                transition: background-position .3s ease-in-out;

                &:hover,
                &:focus {
                    background-position: right;
                }
            }

        }

        .givendata {
            width: 80%;

            // background: red;
            position: absolute;
            bottom: 15%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 12vh;
            border-radius: 10px;
            padding: 0 20px;
            background: rgba($color: #ff8800, $alpha: 0.1);

            & div {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                & p {
                    opacity: 0.8;
                }
            }

            & a,
            & span {
                font-size: 1.2rem;
                font-weight: bold;
                position: relative;
                bottom: 10px;
                color: #000;
            }
        }

    }

}