@font-face {
    src: url(../assets/San-Francisco-Pro-Fonts-master/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Black.otf);
    font-family: "SF-Pro-Display-Black";
}

.navbar {
    position: absolute;
    top: 5%;
    right: 2%;

}

.navbar ul {
    all: initial;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.1);
    max-width: 30rem;
    min-width: 26rem;
    height: 3rem;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* justify-content: center;
    align-items: center; */
    border-radius: 10px;
    /* box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.3); */
}

.navbar ul li {
    list-style: none;
    padding: 0 10px;
    height: 100%;
    border-radius: 6px;
    transition: all 0.5s ease;

}

.navbar ul li:hover {
    background-color: #28C98B;
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

/* .navbar ul li:hover a {
    color: rgba(255, 255, 255, 0.8);
} */

.navbar ul a {
    display: flex;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: "SF-Pro-Display-Black";
    height: 100%;
    /* background-color: saddlebrown; */
    align-items: center;
}

.icons {
    margin-right: 3px;
}